# Simulink cache
slprj/
*.slxc

# MATLAB
*.asv
*.m~

# MATLAB version backups
*.slx.r20*

# Temporary files
*_temp.zip

# Debug logs
*.log

# OS
.DS_Store
Thumbs.db

# Ignorar todos arquivos na raiz (mantem subpastas e o proprio .gitignore)
/*
!/*/
!/.gitignore

# Pastas ignoradas
DH/
Arduino/
teste/
arduino_controlador_ert_rtw/
